<title>Marktplaats Test</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="robots" content="nofollow" />

<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/assets/styles/main.css" />

<script type="text/javascript" src="/assets/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/assets/scripts/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/assets/scripts/main.js"></script>
